{{> head }}


    {{> navbar }}

<div class="row">


    <div class="col-8">

        <h1>GATO </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum asperiores voluptatem voluptas placeat dolores. Delectus, deserunt odio numquam voluptate ut quos autem error nostrum quia, quo reiciendis quas et adipisci.
    </p>

    </div>


    <div class="col-4">

        <img src="assets/img/gato.png" class="img-thumbnail">

    </div>


</div>






    {{> footer }}